body {
  font-family: 'Roboto', sans-serif;
  background-color: #E5E5E5;
}
li {
  list-style: none;
  display: inline;
}
a {
  text-decoration: none;
  color: #333333;
}
ul {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.top-line {
  height: 50px;
  
}
.top-line li {
  justify-content: space-between;
}
nav {
  max-width: 450px;
  margin: 0 auto;
  padding-top: 17px;
  padding-left: 14px;
  font-size: 14px;
  line-height: 16px;
}
ul {
  display: flex;
  justify-content: space-between;
}
.second-line {
  height: 189px;
  background-color: white;
  padding-top: 20px;
  margin-bottom: -10px;
}
.title {
  border-bottom: 1px solid #EFEFEF;
}
.title .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.title h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #66C05D;
  margin-left: 20px;
}
.logo {
  display: flex;
}
.logo img {
  margin-bottom: 4px;
  margin-left: 8px;
}
.contact {
  margin-bottom: 10px;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: -10px;
}
.contact a {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.contact button {
  width: 170px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #66C05D;
  box-sizing: border-box;
  border-radius: 40px;
  margin-left: 40px;
  font-size: 14px;
  line-height: 16px;
}
.main-menu ul {
  max-width: 675px;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 225px;
}
.sale {
  height: 412px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  padding-top: 192px;
  padding-left: 15px;
}
.sale h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin: 0;

}
.sale p {
  max-width: 308px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 39px;
  margin-bottom: 0;
}
.sale button {
  width: 170px;
  height: 40px;
  background: #66C05D;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin-top: 45px;
}
.special {
  padding-top: 73px;
  height: 752px;
}
.special .container {
  display: grid;
  grid-template-columns: repeat(4, 277px);
  grid-template-rows: 74px 447px 3fr;
  
}
.special-item:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 9px;
  margin-top: 7px;
}
.special-item:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 5;
}
.special-item:nth-child(2) img {
  padding-left: 51px;
}
.special-card {
  width: 255px;
  height: 363px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.special-card {
  margin-left: 8px;
}
.card-2 {
  margin-left: 16px;
}
.card-3 {
  margin-left: 24px;
}
.card-4 {
  margin-left: 32px;
}
.special-card img {
  width: 125px;
  height: 166px;
  margin-top: 25px;
  margin-bottom: 18px;
}
.special-card p {
  width: 195px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin: 0;
}
p.price {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 14px;
  margin-bottom: 14px;
}
.special-card button {
  width: 130px;
  height: 35px;
  background: #66C05D;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.special-item:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.subscribe {
  width: 540px;
  height: 212px;
  background: #66C05D;
  border-radius: 5px;
  background-image: url(../img/letter.svg);
  background-repeat: no-repeat;
  background-position-x: 355px;
  background-position-y: 52px;
  margin-left: 7px;
}
.subscribe p:first-child {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 18px;
  padding-top: 34px;
  padding-left: 40px;
}
.subscribe p:nth-child(2) {
  width: 231px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 44px;
}
.subscribe input {
  width: 225px;
  height: 35px;
  background: #FFFFFF;
  border-radius: 30px;
  border: none;
  margin-top: 12px;
  margin-left: 38px;
  text-align: center;
}
.subscribe input::placeholder {
  font-size: 14px;
  color: #C4C4C4; 
  padding-left: 30px;
}
.special-item:last-child {
  grid-column-start: 3;
  grid-column-end: 5;
}
.shops-map {
  width: 540px;
  height: 212px;
  background: #66C05D;
  border-radius: 5px;
  background-repeat: no-repeat;
  margin-left: 25px;
}
.shops-map p:first-child {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 33px;
  padding-left: 38px;
}
.shops-map p:nth-child(2) {
  width: 141px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  padding-top: 1px;
  padding-left: 38px;
}
.shops-map button {
  width: 170px;
  height: 35px;
  background: #66C05D;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 13px;
  margin-left: 38px;
}
footer {
  margin-top: 133px;
  height: 184px;
}
.footer-line-1 {
  height: 120px;
  background-color: white;
}
.footer-line-1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
}
.social {
  display: flex;
  width: 240px;
  justify-content: space-between;
  padding-left: 7px;;
}
.social img {
  width: 45px;
  height: 45px;
}
.adress {
  margin-left: 100px;
  padding-bottom: 5px;
}
.adress p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.disclaimer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
}
.disclaimer p {
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  padding-left: 7px;
}